@charset "UTF-8";
/* RESET STYLES */
* {
  margin: 0;
  padding: 0; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.container {
  width: 100%;
  margin: 0 auto; }

.container .cols {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center; }

.container .cols.col-1,
.container .cols.col-2,
.container .cols.col-3,
.container .cols.col-4,
.container .cols.col-5,
.container .cols.col-6,
.container .cols.col-7,
.container .cols.col-8,
.container .cols.col-9,
.container .cols.col-10,
.container .cols.col-11,
.container .cols.col-12 {
  width: 100%; }

/* clear fix  */
.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
  content: "";
  display: table; }

.container:after,
.row:after,
.clear:after {
  clear: both; }

/* end clear fix */
.nameCompany {
  line-height: 2em; }
  .nameCompany img {
    width: 6%;
    float: left; }
  .nameCompany p {
    display: inline-block; }

.addressPanel {
  background-color: #ed9a00;
  height: 2em;
  position: fixed;
  z-index: 2;
  width: 100%; }

.addressPanel span {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 0.5em; }

.language, .telephone, .mailTo, .schedule {
  line-height: 2em; }
  .language i.fa-globe, .telephone i.fa-globe, .mailTo i.fa-globe, .schedule i.fa-globe {
    color: white; }
  .language i.fa-phone, .telephone i.fa-phone, .mailTo i.fa-phone, .schedule i.fa-phone {
    transform: rotate(160deg);
    color: white; }
  .language i.fa-envelope, .telephone i.fa-envelope, .mailTo i.fa-envelope, .schedule i.fa-envelope {
    color: white; }
  .language i.fa-clock, .telephone i.fa-clock, .mailTo i.fa-clock, .schedule i.fa-clock {
    color: white; }

.navPanel {
  background-color: #3e4156;
  top: 2em;
  position: fixed;
  z-index: 2;
  width: 100%; }

nav {
  display: block;
  background: #3E4156; }

.menu {
  display: block; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100; }

.menu li:first-child {
  margin-left: 0; }

.menu li a {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
  padding: 11px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.menu li a:hover, .menu li:hover > a {
  color: #ffffff;
  background: #9CA3DA; }

.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 150px;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #ffffff; }

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0; }

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  border-left: 3px solid #ffffff;
  background: #ffffff; }

.menu ul li a:hover, .menu ul li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #9CA3DA;
  color: #797979; }

.menu li:hover > ul {
  display: block; }

.menu ul ul {
  left: 149px;
  top: 0px; }

.mobile-menu {
  display: none;
  width: 100%;
  padding: 11px;
  background: #3E4156;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600; }

.mobile-menu:hover {
  background: #3E4156;
  color: #ffffff;
  text-decoration: none; }

@media (min-width: 768px) and (max-width: 979px) {
  .mainWrap {
    width: 768px; }
  .menu ul {
    top: 37px; }
  .menu li a {
    font-size: 12px;
    padding: 8px; } }

@media (max-width: 767px) {
  .mainWrap {
    width: auto;
    padding: 50px 20px; }
  .menu {
    display: none; }
  .mobile-menu {
    display: block;
    margin-top: 100px; }
  nav {
    margin: 0;
    background: none; }
  .menu li {
    display: block;
    margin: 0; }
  .menu li a {
    background: #ffffff;
    color: #797979;
    border-top: 1px solid #e0e0e0;
    border-left: 3px solid #ffffff; }
  .menu li a:hover, .menu li:hover > a {
    background: #f0f0f0;
    color: #797979;
    border-left: 3px solid #9CA3DA; }
  .menu ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }
  .menu ul ul {
    left: 0; } }

ul {
  margin-top: 0;
  margin-bottom: 0; }

.headlines h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 3em;
  width: 80%;
  display: inline-block;
  color: #1C65D4; }

.mainImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*Важный параметр. Блоки абсолюта не будут вылазить за этот размер*/
  height: 100vh; }
  .mainImage img {
    width: 100%;
    height: 100vh; }

.baner-text {
  position: absolute;
  bottom: 5%;
  /*Привязываем к нижней части на случай большого объема текста*/
  left: 2%;
  font: 1.5em verdana;
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
  width: 50%;
  color: white; }
  .baner-text h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em; }
  .baner-text p {
    font-size: 1em;
    line-height: 1.5em;
    font-style: italic; }

.service {
  color: #6F6F6F; }

.service h3 {
  font-size: 2em; }

.service ul {
  width: 90%;
  display: inline-block; }

.service ul > li {
  font-size: 1.5em;
  padding-top: 0.5em;
  text-align: justify; }

.direction {
  color: #6F6F6F; }

.direction h3 {
  font-size: 2em; }

.direction ul {
  width: 90%;
  display: inline-block; }

.direction ul > li {
  font-size: 1.5em;
  padding-top: 0.5em;
  text-align: justify; }

.consulting {
  color: #6F6F6F; }

.consulting ul {
  width: 90%;
  display: inline-block; }

.consulting ul > li {
  font-size: 1.5em;
  padding-top: 0.5em;
  text-align: justify; }

.documents {
  color: #6F6F6F; }

.documents h3 {
  font-size: 2em; }

.documents ul {
  width: 90%;
  display: inline-block; }

.documents > div > ul > li {
  font-size: 1.5em;
  padding-top: 0.5em;
  text-align: justify; }

p.attention {
  margin-top: 2em; }

h4.attention {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.4em;
  font-weight: 900;
  color: red; }

p.attentionText > span {
  font-size: 1.4em;
  font-weight: 900;
  margin-left: 1em;
  display: inline-block;
  width: 90%; }

.langIcon {
  width: 20%;
  float: left; }

.accredit > img {
  width: 50%; }

.downDoc > img {
  width: 50%; }

.expert-result > img {
  width: 50%; }

.expert-counter > img {
  width: 50%; }

.icons {
  margin-top: 5em; }

.icons p {
  width: 80%;
  height: 4em;
  font-size: 1.2em;
  display: inline-block; }

.icons button {
  font-size: 1em;
  border-radius: 0.5em;
  width: 40%;
  height: 3em; }

.contacts {
  color: #6F6F6F; }

.contacts h2 {
  font-size: 1.8em; }

.contacts p {
  font-size: 1.2em; }

.adress {
  width: 90%;
  display: inline-block; }

iframe.maps {
  width: 90%; }

.footer {
  background-color: #0041ED;
  height: 5em; }

@media only screen and (min-width: 767px) and (max-width: 849px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; } }

@media screen and (min-width: 850px) and (max-width: 991px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; }
  .mainImg img {
    display: none; } }

@media screen and (min-width: 991px) and (max-width: 1023px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; }
  .mainImg img {
    display: none; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; }
  .mainImg img {
    display: none; } }

@media only screen and (min-width: 1199px) and (max-width: 1379px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; } }

@media only screen and (min-width: 1379px) and (max-width: 1920px) {
  .container .cols.col-1 {
    width: 8.333333333333333%; }
  .container .cols.col-2 {
    width: 16.66666666666667%; }
  .container .cols.col-3 {
    width: 25%; }
  .container .cols.col-4 {
    width: 33.33333333333333%; }
  .container .cols.col-5 {
    width: 41.66666666666667%; }
  .container .cols.col-6 {
    width: 50%; }
  .container .cols.col-7 {
    width: 58.33333333333333%; }
  .container .cols.col-8 {
    width: 66.66666666666667%; }
  .container .cols.col-9 {
    width: 75%; }
  .container .cols.col-10 {
    width: 83.33333333333333%; }
  .container .cols.col-11 {
    width: 91.66666666666667%; }
  .container .cols.col-12 {
    width: 100%; } }
