
// адресная панель 
.addressPanel{
    background-color: rgb(237, 154, 0);
    height: 2em;
    position: fixed; 
    z-index: 2; 
    width: 100%;
   
}

// стиль для текстовой инфор. на адресной панели
.addressPanel span {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0.5em;
}

// стили для иконок(телефон, почта, график работы )

.telephone, .mailTo , .schedule{
    line-height: 2em;

    i.fa-phone{
        transform: rotate(160deg);
        color: white;
    }

    i.fa-envelope{
        color: white;
    }

    i.fa-clock{
        color: white;
    }
    
}







