
// адресная панель 
.addressPanel{
    background-color: rgb(237, 154, 0);
    height: 2em;
    position: fixed; 
    z-index: 2; 
    width: 100%;
   
}

// стиль для текстовой инфор. на адресной панели
.addressPanel span{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1em;
    display: inline-block;
}

// стили для иконок(телефон, почта, график работы )

.telephone, .mailTo , .schedule{
    line-height: 2em;

    span{
        vertical-align: middle;
    }
    
}

.telephone>img{
    width: 5%;
    vertical-align: middle;
    display: inline-block;
}

.mailTo>img{
    width: 10%;
    vertical-align: middle;
    display: inline-block;
}

.schedule>img{
    width: 5%;
    vertical-align: middle;
    display: inline-block;
}





