.direction{
    color:#6F6F6F;
}

.direction h3{
    font-size: 2em;
}

.direction ul{
    width: 95%;
    display: inline-block;
}

.direction ul>li{
    font-size: 1.5em;
    padding-top: 0.5em;
    text-align: justify;
}

