.direction{
    color:#6F6F6F;

    h3{
        font-size: 2em;
    }

    ul{
        width: 90%;
        display: inline-block;

        li{
            font-size: 1.5em;
            padding-top: 0.5em;
            text-align: justify;
        }
    }
}


