

.langIcon{
    width: 20%;
    float: left;
}
.addressPanel{
    background-color: rgb(255, 208, 0);
    height: 2em;
}

.navPanel{
    background-color: #3e4156;
    // height: 5em;
}

.headlines h2{
    margin-top:3.5em;
    margin-bottom: 1em;
    font-size: 3em;
    width: 80%;
    display: inline-block;
    color: #1C65D4;
}

.footer{
    background-color: #0041ED;
    height:5em;
}





