

.langIcon{
    width: 20%;
    float: left;
}
.addressPanel{
    background-color: aqua;
    height: 3em;
}

.navPanel{
    background-color: blueviolet;
    height: 5em;
}

.headlines h2{
    font-size: 3em;
    width: 80%;
    display: inline-block;
    color: #1C65D4;
}

.footer{
    background-color: #0041ED;
    height:5em;
}





