
.service{
    color:#6F6F6F;
}


.service h3{
    font-size: 2em;
}

.service ul{
    width: 90%;
    display: inline-block;
}

.service ul>li{
    font-size: 1.5em;
    padding-top: 0.5em;
    text-align: justify;
}