@media only screen and (min-width : 767px) and (max-width : 849px) {


    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}
    
    
        
    
}